@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin:0;
     font-family: 'Open Sans', sans-serif;
     font-size:12px;
}
p{
    font-size:14px;
}
.clearfix{
    clear:both;
}
/*NAVBAR*/
nav{
    background-color:#c12127;
    color:rgba(255,255,255,0.8);
    padding:10px;
    height:20px;
}
nav a{
    color:rgba(255,255,255,0.8);
    text-decoration:none;
}
.navbar-left{
    float:left;
    width:40%;
}
.navbar-right{
    float:right;
    width:50%;
    padding:0;
    margin:0;
    text-align:right;
}
.navbar-right li{
    display:inline-block;
    margin:0 10px;
}
/*HEADER*/
.header{
  background-color: rgb(32, 101, 136);
  color:rgba(255,255,255,0.8);
  height:650px;
  position:relative;
}
.header-top{
    background-color:rgb(32, 90, 124);
    overflow:hidden;
}
.header h1{
    margin:0;
}
.logo{
    float:left;
    width:5%;
    margin:8px;
}
.search-form{
    float:left;
    margin:10px;
    width:82%;
}
.search-input{
    border:none;
    border:1px solid rgb(32, 101, 136);
    background-color:rgb(31, 82, 111);
    padding:8px;
    width:97%;
}
.search-btn{
    border:none;
    border:1px solid rgb(32, 101, 136);
    background-color:rgb(31, 82, 111);
    color:rgba(255,255,255,0.8);
    padding:8px 10px 7px;
}
.login{
    margin:10px;
    width:10%;
    float:right;
}
.login-link{
    color:rgba(255,255,255,0.8);
    text-decoration:none;
}
.login-link, .or{
    position:relative;
    bottom:17px;
}
.bear{
    width:21%;
    margin-left:5px;
}
.header-bottom{
    width:30%;
    margin:0 auto;
    position: absolute;
    top:210px;
    left:475px;
}
.city{
    float:right;
    width:100%;
    height:585px;
}
.header-bottom h2{
   font-size:36px;
   font-weight:lighter;
}
.header-bottom p{
    line-height:1.5;
    margin-bottom:30px;
}
.header-btn{
    background-color: rgb(240, 146, 51);
    border:none;
    padding:7px 20px;
    border-radius:50px;
    color:rgba(255,255,255,0.8);
}

/*SECTION ORGS*/
#orgs{
    background-color:rgb(39, 53, 71);
}

/*SECTION WHAT-NPM*/
#what-npm{
    /* background-color:rgb(32, 101, 136); */
    background-image:url('../img/bkg/what-npm-bkg.svg');
}

/*SECTION REGISTRY*/
